@import "variables";
@import "mixins";
@import "common";

.section-title {
  margin-bottom: 80px;
}

.certifications-slider {
  .slick-next,
  .slick-prev {
    background-color: $white;
    box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    height: 40px;
  }

  .slick-next {
    bottom: -50px;
    z-index: 2;
    top: unset;
    left: 50%;
  }

  .slick-prev {
    bottom: -50px;
    z-index: 2;
    top: unset;
    left: 43%;
  }

  .slick-next:before,
  .slick-prev:before {
    font-family: "FontAwesome";
    color: $darkerblue;
  }

  .slick-prev:before {
    content: "\f053";
  }

  .slick-next:before {
    content: "\f054";
  }
}

.certification-item {
  padding: 20px;
  margin-bottom: 60px;

  img {
    width: 100%;
    height: 120px;
    object-fit: contain;
    padding-bottom: 20px;
    border-bottom: solid 1.6px #cbcbcb;
  }

  h3 {
    font-family: $bold;
    letter-spacing: 0.04px;
    color: #002e55;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    padding-top: 15px;
  }
}
