@import "variables";
@import "mixins";
@import "common";

.section-title {
  margin-bottom: 70px;
}

.services-img {
  img {
    width: 100%;
  }
}

.services-text {
  width: 90%;

  li {
    list-style: none;
    position: relative;
    font-family: $helvetica;
    margin: 15px 0;

    &::before {
      @include pseudo();
      background-image: url("../img/icons/check.svg");
      left: -25px;
      width: 14px;
      height: 11px;
      @include bg(contain, no-repeat, center);
      top: 5px;
    }
  }
}
